@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@500&family=Open+Sans&family=Overpass:wght@600&display=swap');

main {
    background-color: white;
    width: clamp(320px ,1em, 350px);
    margin: 10px auto;
    padding: 10px;
    border-radius: 4px;
}

section {
    border: 1px solid rgba(201, 199, 199, 0.87);
    border-radius: 4px;
    padding: 5px;
}

section h2{
    font-family: 'Open Sans', sans-serif;
}

section form {
    display: flex;
    flex-direction: column;
    font-family: 'Hind Siliguri', sans-serif;
}

section form label{
    font-size: x-small;
}

section form input{
   padding: 5px;
   border: 1px solid grey;
   border-radius: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

section form button{
    border: none;
    border-radius: 3px;
    background: linear-gradient(rgb(233, 175, 100), rgb(228, 162, 75));
    margin-top: 20px;
    padding: 10px;
    cursor: pointer;
}

section  p {
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 0.5em;
}

.logo{
    width: 200px;
    height: 100px;
    margin: auto;
}
.logo img{
    width: 100%;
}

.error{
    color: red;
    font-size: xx-small;
}